@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/*NAVBAR */
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

/* logo */
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Pacifico&display=swap');

/* parallax text */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

/* 3d button */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --primary: #fa5eb4;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 62.5%;
}


body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100vw;
    flex-direction: column;
    /* background: linear-gradient(315deg, #f3f6ba, #fefaf4); */
    background: #070505;
    scroll-behavior: smooth;
    /* background: linear-gradient(315deg, rgb(247, 243, 172) 3%, transparent 38%, white 68%, rgb(255, 190, 190) 98%); */
    animation: gradient 15s ease infinite;
    background-attachment: fixed;
    box-sizing: border-box;
    font-size: 1.6rem;
}

/* body::-webkit-scrollbar {
    display: none;
} */

.nav {
    position: fixed;
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    /* flex-wrap: wrap; */
    column-gap: 30px;
    /* background: linear-gradient(90deg,#000000 ,#737373); */
    /* background: rgba(26, 25, 25, 0.2); */
    /* box-shadow: rgb(175, 170, 170) 1px 1px 10px; */
    box-sizing: border-box;
    z-index: 100;
}

.nav:first-child {
    margin-right: auto;
}

.nav:last-child {
    margin-right: 30px;
}

.nav.scrolled {
    background: linear-gradient(90deg, black 10%, var(--primary), #27326A, rgb(25, 25, 25), rgb(115, 21, 182));
    box-shadow: black 1px 1px 10px;
    transition: 0.5s ease-in-out;
    z-index: 100;

}


.logo {
    font-weight: 900;
    font-size: x-large;
    text-decoration: none;
    color: lightgoldenrodyellow;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
    margin-right: auto;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    /* box-shadow: #d31976 3px 3px 120px; */
}

.logo-img {
    height: 5.5rem;
    width: auto;
}

.logo:hover {
    text-shadow: 1px 1px 20px gold;
    /* font-size: 2vh; */
    font-size: 158%;
    transition: 0.4s ease-in-out;
}


.button_box {
    height: 100%;

}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: large;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: black;
    border: none;
    box-shadow: 0px 2px 20px rgba(16, 16, 16, 0.465);
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none;
    background-color: var(--primary);
    box-shadow: 0px 1px 15px rgb(0, 0, 0);
    margin-right: 20px;
}

.button:hover {
    background-color: #000;
    box-shadow: 0px 10px 40px var(--primary);
    transition: 0.6s ease-in-out;
    font-size: 119%;
    color: var(--primary);

    /* border: 1px solid #000; */
    /* transform: translateY(7px);
    transform: translateX(3px); */
}

.banner {
    width: 100vw;
    height: 100vh;
    position: relative;
    object-fit: cover;
    box-sizing: border-box;
    background: url("bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.banner .hero .tagline .team {
    color: var(--primary);
}

.banner .hero .tagline a:hover {
    color: #f5f7fa;
    transition: 0.8s ease-in-out;
    text-shadow: 0px 0px 10px rgb(229, 67, 196);
}


.banner .hero .tagline {
    position: absolute;
    top: 35%;
    left: 50px;
    cursor: pointer;
    color: #fff;
    line-height-step: 10px;
    font-size: 8rem;
    font-family: sans-serif;
    font-weight: bolder;
    line-height: 1em;
    text-shadow: 1px 10px 10px rgb(4, 4, 4);
}

.banner .hero .sub {
    top: 380px;
    left: 55px;
    color: #fff;
    position: absolute;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 10px 10px rgb(4, 4, 4);
}


.banner .hero .ig {
    top: 25vh;
    position: absolute;
    margin-left: 53vw;
    height: auto;
    width: 45vw;
}


.home {
    text-decoration: none;
    font-size: large;
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}

.hb {
    text-decoration: none;
    color: #fff;
    font-size: large;
    font-family: 'Arimo', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}

.home:hover {
    color: var(--primary);
    /* font-size: 2vh; */
    transform: translateY(2px);
    transition: 0.4s ease-in-out;
}

















.hb:hover {
    color: var(--primary);
    transform: translateY(2px);
    transition: 0.4s ease-in-out;
}

@media only screen and (max-width: 992px) {
    .home {
        display: none;
    }

    .hb {
        display: none;
    }

    .button {
        display: none;
    }

    .banner .hero .tagline {
        font-size: 7.5rem;
    }

    .banner .hero .sub {
        font-size: x-large;
    }
}

@media only screen and (max-width: 552px) {
    .home {
        display: none;
    }

    .hb {
        display: none;
    }

    .button {
        display: none;
    }

    .banner .hero .tagline {
        font-size: 3.5rem;
    }

    .banner .hero .sub {
        font-size: larger;
    }
}

/* ------------------------------------- */



/* WHY */




.why {
    height: 100vh;
    width: 100vw;
    background: url("why.png");
    background-repeat: no-repeat;
    background-size: 100%;

}



/* ---SERVICES--- */


.services {
    height: 100vh;
    width: 100vw;
}


img {
    width: 160px;
}

.but3 {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
}

.but3:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.but3:nth-child(1) {
    filter: hue-rotate(270deg);
}

.but3:nth-child(2) {
    filter: hue-rotate(110deg);
}

.but3 span {
    position: absolute;
    display: block;
}

.but3 span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.but3 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.but3 span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.but3 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}





.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80vw;
    height: 100vh;
    margin-left: 6vw;
    /* transform:rotateX(7deg) rotateZ(-4deg) rotateY(13deg) scale3d(1, 1, -0.9); */
    -webkit-transform: rotateX(23deg) rotateZ(-9deg) rotateY(15deg) scale3d(1, 1, -0.9);
    transform: rotateX(23deg) rotateZ(-9deg) rotateY(15deg) scale3d(1, 1, -0.9);
}

.box {
    margin-left: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    will-change: transform;
}

.box:hover .cover {
    -webkit-transform: translateY(-14px) scale(1.04);
    transform: translateY(-14px) scale(1.04);
}

/* .box-1 button {
    border: 1px solid #00BF9C;
} */



/* .box-2 button {
    border: 1px solid #653EE6;
} */


/* 
.box-3 button {
    border: 1px solid #008BFF;
} */



/* .box-4 button {
    border: 1px solid #FF6500;
} */


.cover {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    will-change: transform;
}

.cover img {
    -webkit-transition: all 260ms ease-in-out;
    transition: all 260ms ease-in-out;
}

.box .cover::after {
    content: "";
    z-index: -99;
    position: absolute;
    top: 20px;
    left: -20px;
    display: block;
    width: 160px;
    height: 214px;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160px 214px;
    -webkit-filter: blur(24px);
    filter: blur(24px);
    -webkit-transition: all 260ms ease-in-out;
    transition: all 260ms ease-in-out;
    will-change: transform;
    -webkit-transform: scale(.6);
    transform: scale(.6);
}

.box:hover .cover::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.box-1 .cover::after {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-893bc9989a52eba0.png');
}

.box-2 .cover::after {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-964edcf0f07211b0.png');
}

.box-3 .cover::after {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-2ebb2b6f93add843.png');
}

.box-4 .cover::after {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-f79c4cc8de2f84ae.png');
}


.dr {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 100px;
}






/* ------ */


body .footer {
    z-index: 1;
    --footer-background: linear-gradient(90deg, #27326A 15%, rgb(25, 25, 25), rgb(115, 21, 182), seagreen);
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 20%;
    width: 100vw;
    box-sizing: border-box;
}

body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}

body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

body .footer .content {
    z-index: 2;
    color: #f7f7f7;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-family: sans-serif;
    grid-template-columns: 1fr auto;
    grid-gap: 2rem;
    padding: 2rem;
    background: var(--footer-background);
}

body .footer .content a {
    color: #f5f7fa;
    font-family: sans-serif;

}

body .footer .content a:hover {
    color: greenyellow;
    text-decoration: underline;
    text-shadow: 0 0 0.125em rgb(3, 3, 3), 0 0 1.95em currentColor;
    font-size: large;

}

body .footer .content p {
    color: #f5f7fa;
    text-decoration: none;
    font-family: sans-serif;
}

body .footer .content b {
    color: rgb(12, 220, 199);
    content: "\f007";
    font-family: sans-serif;
    font-weight: bold;
}

body .footer .content p {
    margin: 0;
    font-size: 1.25rem;
    text-align: center;

}

.flogo {
    height: 50px;
    width: 120px;
}

.tagline {
    margin-bottom: 2vh;
}

.lg {
    margin-left: 5px;
    height: 30px;
    width: 30px;
    transition: all 0.6s ease-in-out;
}

.lg:hover {
    transform: scale(120%);
    transition: all 0.6s ease-in-out;
}

hr {
    margin-bottom: 10px;
}

@keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-move {
    0% {
        bottom: 0rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}



/* end */


@media only screen and (max-width:1100px) {
    .change {
        width: 40%;
    }

}

@media only screen and (max-width:550px) {
    .change {
        width: 100%;
        font-size: clamp(5rem, 14vw + 0.5rem, 7rem);
    }

    .end .services {
        font-size: 35px;
    }

    @keyframes transitionIn {
        from {
            opacity: 0;
            transform: translateX(-10px);
            transform: rotate(-45deg);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
            transform: rotate(0deg);
        }

    }
}

/* Adjust other styling properties as needed */
